{% extends 'base.html.twig' %} {% block body %}
<div class="container">
  <h1>CHAT !</h1>
  <form action="{{ path('app_chat') }}" method="POST">
    <input type="text" name="message" id="" />
    <button class="btn btn-primary" type="submit">send</button>
  </form>

  <div class="chat">
    <div class="message">{{ response }}</div>
  </div>
</div>
{% endblock %}
