{% extends 'base.html.twig' %} {% block body %}
<div class="toto"></div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <div id="chat" class="list-group"></div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <form method="post" id="chatForm">
            <input
              type="text"
              name="message"
              id="message"
              class="form-control"
              placeholder="Type your message..."
              style="height: 80vh" />

            <button
              id="send"
              onclick="postAjaxMessage()"
              class="btn btn-primary mt-2">
              Send
            </button>
          </form>

          <button class="btn btn-danger mt-2" onclick="ajaxDeleteMessages()">
            Clear
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function ajaxDeleteMessages() {
    fetch(" {{ path('app_message_clear') }} ").then(() => {
      clearChat();
    });
  }
  function getAjaxMessage() {
    fetch(" {{ path('app_get_messages')}}")
      .then((response) => {
        return response.json();
      })
      .then((data) => {
        constructMessage(data);
      });
  }
  function postAjaxMessage() {
    let form = document.querySelector("#chatForm");
    form.addEventListener("submit", (e) => {
      e.preventDefault();
    });
    let message = document.querySelector("#message").value;
    console.log(JSON.stringify(message));

    fetch(" {{ path('app_chat')}}", {
      method: "POST",
      body: JSON.stringify(message),
    }).then(() => {
      clearChat();
      getAjaxMessage();
    });
  }
  function constructMessage(data) {
    let chat = document.querySelector("#chat");

    data.messages.forEach((message) => {
      let div = document.createElement("div");
      div.classList.add("list-group-item");
      div.innerHTML = message.content;
      chat.appendChild(div);
    });
  }
  function clearChat() {
    let chat = document.querySelector("#chat");
    chat.innerHTML = "";
  }

  window.addEventListener("load", getAjaxMessage);
</script>
{% endblock %}
